
body {
  background: url('huy-tran-viet-space-dog-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

table tr td,
table tr th {
  background: transparent !important;
  color: linen;
  /* add scroll */
}

